html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 2%;
    height: 100%;
    padding: 1%;
}

.aside {
    background-color: #fff;
    border-right: 1px solid #ccc;
    height: 100%;
    width: 15%;
    padding: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-bar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-bottom: 10px;
}

.nav-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.nav-item a:hover {
    background-color: #007bff;
    color: #fff;
}

.table-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 1%;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.table-container .search{
    margin: 1%;
    width: 100%;
    height: 3%;
    text-align: right;
}



.students-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.students-table th, .students-table td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: left;
}

.students-table th {
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.students-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.students-table tr:hover {
    background-color: #f1f1f1;
}


.add-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.student-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    padding: 10px 2px 0 2px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

#submit-student {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* .updating{
    background-color: #fffd8d;
    color: black;
} */

#search{
    height: 100%;
    width: 50%;
    display: block;
}   

.submit-button:hover {
    background-color: #0056b3;
}

.update-button, .delete-button{
    padding: 5px;
    border-radius: 5px;
}

.update-button {
    background-color: #28a745;
}

.update-button:hover {
    background-color: #218838;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

.modal {
    border: 2px solid black;
    border-radius: 5px;
    width: 60%;
    height: auto;
    background-color: #fff;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    display: none;
    z-index: 1;
    overflow: auto;
}

.inner {
    height: auto;
}

#close{
    font-weight: bolder;
    cursor: pointer;
    margin: 5px;
}

.scroll-container {
    width: 100%;
    height: 100%;
    overflow-x: auto; /* Enable horizontal overflow */
    overflow-y: auto; /* Disable vertical overflow */
    background-color: #333;
}

#graph {
    background-color: #b3afaf;
    height: 80%;
    width: 100%; /* Set a larger width to force overflow */
    display: flex;
    flex-direction: row;
    gap: 10px;
    transform: rotateX(180deg);
    margin-bottom: 0;
}

#download{
    display: block;
    background-color: blue;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    right: 0;
}

#stats-footer{
    height: auto;
}

.upload-container{
    background-color: #0056b3;
    cursor: pointer;
    width: 93%;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    margin: 8px 0;
    text-align: center; 
}

#csvfile{
    cursor: pointer;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-weight:900;
}